{% if page.title == "Home" %} 
    {% assign showHeader = true %}
{% endif %}

{% if showHeader == true %}
    <header class="flex flex-col items-center mt-40 animate-[pulse_1s]">
        {% if site.about %}
            <a class="flex justify-center items-center mb-5" href="{{ site.url }}/about">
                <img class="object-cover rounded-full h-36" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="flex justify-center items-center mb-5">
                <img class="object-cover rounded-full h-36" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="text-4xl mb-3">{{ site.title }}</h1>
        <h2 class="text-gray-500 mb-5 text-center">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
