---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    line-height: 1.7;
    color: #666;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: .4px
}

p em {
    @apply flex justify-center;
}

pre code.hljs {
    font-size: 12px; /* adjust as needed */
}

.highlighter-rouge {
    margin-bottom: 20px;
}

code {
    padding: 2px 3px;
    font-family: "Consolas",Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
    vertical-align: middle;
    background: #eee;
    border-radius: 2px
}

a {
    @apply text-cyan-600 no-underline transition-all duration-300;
}

.post img {
    @apply w-full;
}

.about-me img {
    @apply w-6/12 rounded-md mx-auto;
}

ol {
    list-style: decimal;
    margin-left: 20px;
    margin-bottom: 20px;
}

ol li {
    line-height: 1.7;
    color: #666;
    font-weight: 300;
    letter-spacing: .4px
}

strong {
    font-weight: 500;
    @apply text-gray-800;
}

.post > h2 {
    @apply text-lg font-bold text-gray-800 mb-[20px];
}