---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote {
    @apply bg-sky-200 p-2 mb-5 rounded-md;
}

blockquote p {
    @apply mb-0;
}

blockquote p em {
    @apply inline;
}

p {
    line-height: 1.7;
    color: #666;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: .4px
}

p em {
    @apply justify-center;
}

pre code.hljs {
    font-size: 12px; /* adjust as needed */
}

code.highlighter-rouge {
    @apply p-1.5 font-mono text-xs bg-gray-200 rounded-sm text-cyan-600;
}

a {
    @apply text-cyan-600 no-underline transition-all duration-300;
}

.about-me img {
    @apply w-2/5 rounded-md mx-auto;
}

strong {
    font-weight: 500;
    @apply text-gray-800;
}

.posts > h2 {
    @apply text-lg font-bold text-gray-800 mb-[20px];
}

.posts img {
    @apply w-full;
}

.posts .highlight {
    @apply mb-5;
}

.posts ol {
    list-style: decimal;
    margin-left: 20px;
    margin-bottom: 20px;
}

.posts ol li {
    line-height: 1.7;
    color: #666;
    font-weight: 300;
    letter-spacing: .4px
}

.posts ul {
    @apply list-disc ml-5 mb-5;
}

.posts ul li {
    line-height: 1.7;
    color: #666;
    font-weight: 300;
    letter-spacing: .4px;
}
