---
layout: compress
---
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>

    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name=author content="{{ site.title }}">

    {% seo %}

    {% include favicon.html %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <script src="https://kit.fontawesome.com/d9b09040a7.js" crossorigin="anonymous"></script>

    <!-- highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/a11y-dark.min.css" integrity="sha512-Vj6gPCk8EZlqnoveEyuGyYaWZ1+jyjMPg8g4shwyyNlRQl6d3L9At02ZHQr5K6s5duZl/+YKMnM3/8pDhoUphg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body class="bg-zinc-50 flex h-full">
    {% if page.title == 'Blog' or page.title == 'Code Snippet' %}
        {% assign page_title_class = 'blog' %}
    {% else %}
        {% assign page_title_class = page.title | downcase %}
    {% endif %}

    <div class="max-w-[600px] flex flex-col mx-auto w-11/12">
        {{ content }}
    </div>
</body>
</html>
