---
layout: page
---

<h1 class="text-3xl text-center tracking-tight font-bold mb-5">{{ page.title }}</h1>

<span class="block text-center mb-5">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="flex flex-row space-x-1.5 justify-center mb-10">
        {% for tag in page.tags %}
            <a class="bg-gray-200 px-2 rounded-sm font-thin" href="{{ site.url }}/tags/{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

<div class="{{ page.collection | slugify }}">
    {{content}}
</div>

{% if site.post-advance-links contains page.category %}
    <div class="grid grid-cols-2 text-sm">
        {% if page.previous.published == true and page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.published == true and page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
